<!DOCTYPE html>
<html lang="ja">
  <head>
    <link href="template.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <title>title</title>
  </head>

  <body>
    <div id="novel">
      <p class="novel_subtitle">ふがくN景</p>
      <p>
        富士の頂角、広重ひろしげの富士は八十五度、文晁ぶんてうの富士も八十四度くらゐ、けれども、陸軍の実測図によつて東西及南北に断面図を作つてみると、東西縦断は頂角、百二十四度となり、南北は百十七度である。広重、文晁に限らず、たいていの絵の富士は、鋭角である。いただきが、細く、高く、華奢きやしやである。北斎にいたつては、その頂角、ほとんど三十度くらゐ、エッフェル鉄塔のやうな富士をさへ描いてゐる。けれども、実際の富士は、鈍角も鈍角、のろくさと拡がり、東西、百二十四度、南北は百十七度、決して、秀抜の、すらと高い山ではない。たとへば私が、印度インドかどこかの国から、突然、鷲わしにさらはれ、すとんと日本の沼津あたりの海岸に落されて、ふと、この山を見つけても、そんなに驚嘆しないだらう。ニツポンのフジヤマを、あらかじめ憧あこがれてゐるからこそ、ワンダフルなのであつて、さうでなくて、そのやうな俗な宣伝を、一さい知らず、素朴な、純粋の、うつろな心に、果して、どれだけ訴へ得るか、そのことになると、多少、心細い山である。低い。裾のひろがつてゐる割に、低い。あれくらゐの裾を持つてゐる山ならば、少くとも、もう一・五倍、高くなければいけない。
      </p>
      <p>
        富士の頂角、広重ひろしげの富士は八十五度、文晁ぶんてうの富士も八十四度くらゐ、けれども、陸軍の実測図によつて東西及南北に断面図を作つてみると、東西縦断は頂角、百二十四度となり、南北は百十七度である。広重、文晁に限らず、たいていの絵の富士は、鋭角である。いただきが、細く、高く、華奢きやしやである。北斎にいたつては、その頂角、ほとんど三十度くらゐ、エッフェル鉄塔のやうな富士をさへ描いてゐる。けれども、実際の富士は、鈍角も鈍角、のろくさと拡がり、東西、百二十四度、南北は百十七度、決して、秀抜の、すらと高い山ではない。たとへば私が、印度インドかどこかの国から、突然、鷲わしにさらはれ、すとんと日本の沼津あたりの海岸に落されて、ふと、この山を見つけても、そんなに驚嘆しないだらう。ニツポンのフジヤマを、あらかじめ憧あこがれてゐるからこそ、ワンダフルなのであつて、さうでなくて、そのやうな俗な宣伝を、一さい知らず、素朴な、純粋の、うつろな心に、果して、どれだけ訴へ得るか、そのことになると、多少、心細い山である。低い。裾のひろがつてゐる割に、低い。あれくらゐの裾を持つてゐる山ならば、少くとも、もう一・五倍、高くなければいけない。
      </p>
    </div>
  </body>
</html>
