@font-face {
  font-family: "Noto";
  src: url(./noto/NotoSerifJP-Regular.otf);
}

body {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#novel {
  font-size: 2.5rem;
}

.novel_subtitle {
  font-size: 1.5em;
  text-align: center;
}

p {
  color: black;
  font-family: "Noto", serif;
  margin: 0 1em;
  padding: 0;
}
