@font-face {
  font-family: "Noto";
  src: url(./noto/NotoSerifJP-Regular.otf);
}

body {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@page {
  size: A4;
  margin: 0;
}

#novel {
  font-size: 13mm;
}

.novel_subtitle {
  font-size: 1.5em;
  text-align: center;
}

p {
  line-height: 1.8em;
  color: black;
  font-family: "Noto", serif;
  margin: 0;
  padding: 0;
}
